<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/theme.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />

</head>
<body>

<header>

    <ul class="logo-bus">
            <div class="logo">
                <img src="\images\logo-mercado-liebre.svg">
            </div>

            <div class="buscador">
                <input type="text" value="Buscar productos de marca">
            <button>
                <i class="fas fa-search"></i>
           </button>
           </div>
        </ul>
        <div>

        <p>
        <section class="comprar">
           <i class="fas fa-hand-holding-usd">compra en cuotas y sin tarjeta de credito</i>
           </div>
    
        </p>

    </div>

        <section class="indice">
            <p>
          <ul class="navegador1">    
            <div>Ofertas</div>
            <div>Tiendas Oficiales</div>
            <div>Vender</div>
            <div>Ayuda</div>
          </ul>
        </p>
        <p>
          <ul class="navegador2">
            <div>Creá tu cuenta</div>
            <div>Ingresá</div>
            <div>Mis compras</div>
          </ul>
        </p>
        </section>


    <div class="burger-menu">
        <i class="fas fa-bars"></i>
    </div>

</section>
</header>


<main>
    <div>
    <img src="\images\img-home-banner.jpg" class="ayuda">
    </div>
<p>
<section>
    <div class="titulares">Ultimas visitas</div>
    <div class="visitas">
    <article class="productos">   
    <img src="/images/img-cafetera-moulinex.jpg" class="fotos">
    <div class="precios-descuentos">
        <div class="camion">
        <i class="fas fa-truck truck-icon border padding font-desc"></i>
        </div>
        <p class="precios">$6.770</p>
        <p class="descuentos">40% off</p>
        <h4 class="descripcion">Cafetera</h4>
    </div>
    </article>
    
    <article class="productos">
        <img src="/images/img-macbook-pro-2019.jpg" class="fotos">
        <div class="precios-descuentos">
            <div class="camion">
                <i class="fas fa-truck truck-icon border padding font-desc"></i>
            </div>
            <p class="precios">$230000</p>
            <p class="descuentos">20% off</p>
            <h4 class="descripcion">Macbook</h4>
        </div>
    </article>
    
    <article class="productos">
        <img src="\images\img-samsung-galaxy-s10.jpg" class="fotos">
        <div class="precios-descuentos">
        <div class="camion">
        <i class="fas fa-truck truck-icon border padding font-desc"></i>
        </div>
        <p class="precios">$70500</p>
        <p class="descuentos">10% off</p>
        <h4 class="descripcion">Samsun GalaxY S10</h4>
        </div>
    </article>
    
    <article class="productos">
    <img src="\images\img-tv-samsung-smart.jpg" class="fotos">
    <div class="precios-descuentos">
    <div class="camion">
    <i class="fas fa-truck truck-icon border padding font-desc"></i>
    </div>
    <p class="precios">$23200</p>
    <p class="descuentos">5% off</p>
    <h4 class="descripcion">TV Samsung Smart</h4>
    </div>
    </article>
    </p>
    </div>


</section>

<p>
<section>
    <div class="titulares">OFERTAS</div>
    <div class="ofertas">
    <article class="productos">
        <img src="/images/img-cafetera-moulinex.jpg" class="fotos">
        <div class="precios-descuentos">
        <div class="camion">
        <i class="fas fa-truck truck-icon border padding font-desc"></i>
        </div>
        <p class="precios">$6.770</p>
        <p class="descuentos">40% off</p>
        <h4 class="descripcion">Cafetera</h4>
        </div>
    </article>
    
    
    <article class="productos">
        <img src="/images/img-macbook-pro-2019.jpg" class="fotos">
        <div class="precios-descuentos">
        <div class="camion">
        <i class="fas fa-truck truck-icon border padding font-desc"></i>
        </div>
        <p class="precios">$230000</p>
        <p class="descuentos">20% off</p>
        <h4 class="descripcion">Macbook</h4>
        </div>
    </article>
    
    
    <article class="productos">
        <img src="\images\img-samsung-galaxy-s10.jpg" class="fotos">
        <div class="precios-descuentos">
        <div class="camion">
        <i class="fas fa-truck truck-icon border padding font-desc"></i>
        </div>
        <p class="precios">$70500</p>
        <p class="descuentos">10% off</p>
        <h4 class="descripcion">Samsun GalaxY S10</h4>
        </div>
    </article>
    
    
    <article class="productos">
    <img src="\images\img-tv-samsung-smart.jpg" class="fotos">
    <div class="precios-descuentos">
    <div class="camion">
    <i class="fas fa-truck truck-icon border padding font-desc"></i>
    </div>
    <p class="precios">$23200</p>
    <p class="descuentos">5% off</p>
    <h4 class="descripcion">TV Samsung Smart</h4>
    </div>
    </article>
    </p>
    </div>


</section>

</main>


<footer>
     <p><div class="loguitos">
    <i class="fas fa-credit-card"></i>
    </div>
    <div class="pies">Pagá con tarjeta o en efectivo</div>
    <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
    puntos de pago. ¡Y siempre es seguro!</p>
    </p>
     
    <p><div class="loguitos">
    <i class="fas fa-gift"></i>
    </div>
    <div class="pies">Envío gratis desde $ 2.500</div>
    <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
    productos. Es un beneficio de Mercado Puntos.</p>
    </p>

    <p><div class="loguitos">
    <i class="fas fa-user-shield"></i>
    </div>
    <div class="pies">Seguridad, de principio a fin</div>
    <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
    porque estás siempre protegid@.</p>
    </p>

    <p>
    <div class="pies">Copyright © 1999-2020 MercadoLiebre S.R.L.</div>
    </p>


</footer>

 </body>
</html>

    